{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block promo %}
    <div class="promo-section-2">
        <div class="diamond-2 small-2 bottom-right-2" style="right: 1%;"></div>
        <div class="diamond-2 small-2 bottom-right-2" style="right: 99%;"></div>
        
    </div>
{% endblock promo %}

{% block content %}
    <h1 class="text-center mt-5">Tickets</h1>

    <div class="container mt-5 col-lg-7 create_body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" name="save" value="Save">Save</button>
            <button type="submit" name="save_add_another" value="Save and Add Another" class="btn btn-secondary">Save & Add Another</button>
        </form>
    </div>
{% endblock content %}