{% extends 'accounts/base.html' %}

{% block promo %}
    <div class="promo-section ft-fam">
        <h3 class="mt-4">Welcome to Bookie, your premier event management and ticketing solution.</h3>
        <h3>At Bookie, we are dedicated to transforming your event experience into</h3>
        <h3>something seamless, efficient, and unforgettable.</h3></h3>
        
        <!-- Diamond decorations -->
        <div class="diamond top-right"></div>
        <div class="diamond small bottom-right"></div>
        <div class="diamond small bottom-left"></div>
    </div>
{% endblock promo %}

{% block content %}
    <div class="container my-5">
        <div class="row my-4">
            <div class="col-md-6">
                <h2>Who We Are</h2>
                <p>Bookie is a passionate team of event enthusiasts, tech innovators, and customer service experts. Our
                    mission is to make event planning and ticketing effortless for both organizers and attendees. Whether
                    you are hosting a grand concert, a corporate conference, a local workshop, or any event in between,
                    we’ve got you covered.</p>
            </div>
            <div class="col-md-6">
                <h2>Our Vision</h2>
                <p>Our vision is to revolutionize the way events are managed and experienced. We believe in harnessing the
                    power of technology to simplify the complexities of event organization and to enhance the enjoyment and
                    convenience for attendees.</p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-md-6">
              <h2>What We Offer</h2>
              <ul>
                <li><strong>Comprehensive Event Management:</strong> From planning and promotion to execution and follow-up, Bookie provides end-to-end solutions to ensure your event is a success.</li>
                <li><strong>Streamlined Ticketing System:</strong> Our intuitive platform allows for easy ticket purchase, and seamless entry management, making the ticketing process a breeze for both organizers and attendees.</li>
                <li><strong>Customizable Solutions:</strong> Every event is unique, and we offer customizable features to cater to your specific needs, ensuring your event stands out.</li>
                <li><strong>Customer-Centric Approach:</strong> Our dedicated support team is always ready to assist you with any queries or concerns, providing a personalized and responsive service experience.</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h2>Why Choose Bookie?</h2>
              <ul>
                <li><strong>User-Friendly Interface:</strong> Our platform is designed to be easy to use, saving you time and effort.</li>
                <li><strong>Innovative Features:</strong> Stay ahead with our cutting-edge tools and features that enhance both the planning and the attending experience.</li>
                <li><strong>Dedicated Support:</strong> Our team is committed to helping you every step of the way, from initial setup to event day and beyond.</li>
              </ul>
            </div>
          </div>
          <div class="row my-4">
            <div class="col text-center">
              <h2>Join the Bookie Community</h2>
              <p>Experience the difference with Bookie. Join our growing community of event organizers and attendees who trust us to deliver exceptional event management and ticketing services. Let's make your next event the best one yet!</p>
              <p>Contact us today to learn more about how Bookie can elevate your event experience.</p>
            </div>
          </div>
    </div>
{% endblock content %}
