{% extends 'accounts/base.html' %}

{% block promo %}
    <div class="promo-section">
        <h2 class="font-weight-bold mt-4">The Easiest and Most Powerful Online Event</h2>
        <h2 class="font-weight-bold">Booking and Ticketing System</h2>
        <h5 class="mt-5">Bookie is an all-in-one event ticketing platform for event organisers,</h5>
        <h5>promoters, and managers. Easily create, promote and manage</h5>
        <h5 class="mb-3">your events of any type and size.</h5>
        <a href="{% url 'create_event' %}" class="btn btn-create-event">Create Event →</a>
        
        <!-- Diamond decorations -->
        <div class="diamond top-right"></div>
        <div class="diamond small bottom-right"></div>
        <div class="diamond small bottom-left"></div>
    </div>
{% endblock promo %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Explore Events</h1>
        <!-- <div class="btn-group mb-3" role="group" aria-label="Filter by date">
            <a class="btn filter-btn" href="#">All</a>
            <a class="btn filter-btn" href="#">Today</a>
            <a class="btn filter-btn" href="#">Tomorrow</a>
            <a class="btn filter-btn" href="#">This Week</a>
            <a class="btn filter-btn" href="#">This Weekend</a>
            <a class="btn filter-btn" href="#">Next Week</a>
            <a class="btn filter-btn" href="#">Next Weekend</a>
            <a class="btn filter-btn" href="#">This Month</a>
            <a class="btn filter-btn" href="#">Next Month</a>
            <a class="btn filter-btn" href="#">This Year</a>
            <a class="btn filter-btn" href="#">Next Year</a>
        </div> -->

        <div class="btn-group mb-3" role="group" aria-label="Filter by category">
            <a class="btn filter-btn" href="{% url 'home' %}">All</a>
            <a class="btn filter-btn" href="{% url 'filter_events_by_arts' %}">Arts</a>
            <a class="btn filter-btn" href="{% url 'filter_events_by_business' %}">Business</a>
            <a class="btn btn-primary mr-1" href="{% url 'filter_events_by_concert' %}">Concert</a>
            <a class="btn filter-btn" href="{% url 'filter_events_by_education' %}">Education</a>
            <a class="btn filter-btn" href="{% url 'filter_events_by_fashion' %}">Fashion</a>
            <a class="btn filter-btn" href="{% url 'filter_events_by_film' %}">Film</a>
            <a class="btn filter-btn" href="{% url 'filter_events_by_music' %}">Music</a>
            <a class="btn filter-btn" href="{% url 'filter_events_by_politics' %}">Politics</a>
            <a class="btn filter-btn" href="{% url 'filter_events_by_science' %}">Science & Technology</a>
            <a class="btn filter-btn" href="{% url 'filter_events_by_others' %}">Others</a>
            <a class="btn btn-success" href="{% url 'filter_events_by_others' %}">Free</a>
        </div>

        <div class="container">
            {% for event in events %}
                {% if forloop.counter0|divisibleby:4 %}
                    <div class="row">
                {% endif %}
                    <div class="col-md-3 mb-4">
                        <div class="card event-card h-100">
                            <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.name }}">
                            <div class="card-body">
                                <h5 class="card-title"> <a href="{% url 'events_info' event.id %}">{{ event.name }}</a></h5>
                                <p class="card-text description">{{ event.short_description }}</p>
                                <p class="card-text">{{ event.event_date }} at {{ event.start_time|date:'h:i A' }}</p>
                            </div>
                        </div>
                    </div>
                {% if forloop.counter0|add:1|divisibleby:4 or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>   
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if events.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">First</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ events.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}
    
                {% for num in events.paginator.page_range %}
                    {% if events.number == num %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ num }}</a>
                        </li>
                    {% elif num > events.number|add:-3 and num < events.number|add:3 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
    
                {% if events.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ events.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ events.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">Last</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>     
    </div>

    

{% endblock content %}