{% extends "accounts/base.html" %}
{% block content %}
<div class="ft-fam">
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="mb-0">
                    Password Reset Done
                </h1>
                <hr>  
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>If an account with that email address exists, you will receive an email with instructions for resetting your password shortly.</p>
    </div>
</div>
{% endblock %}