{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="ft-fam">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col">
                    <h1 class="mb-0">
                        Update Account Information
                    </h1>
                    <hr>  
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5 col-lg-7 create_body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </div>
            <button type="submit" class="btn btn-success">Save Changes</button>
            <a href="javascript:history.back()" class="btn btn-danger">Cancel</a>
        </form>
    </div>
{% endblock content %}