{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<div class="profile-header">
    <img src="{% static 'images/sunset.jpg' %}" alt="Cover Image" class="cover-image">
    <button class="btn btn-light btn-sm btn-change-image">Change Image</button>
    <img src="{{ user.profile.image.url }}" alt="Profile Picture" class="profile-picture">
</div>
<div class="container mt-4">
    <div class="profile-info">
        <h4>{{ user.first_name }} {{user.last_name }} <span class="text-success">&#10003;</span></h4>
        <p>{{ user.email }}</p>
        <div class="d-flex justify-content-center">
            <div class="mr-4">
                <strong>0</strong>
                <p>Followers</p>
            </div>
            <div>
                <strong>2</strong>
                <p>Following</p>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Setting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">My Orders</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="home">
            <div class="d-flex justify-content-around">
                <div class="p-2">
                    <p>Saved Events</p>
                    <span class="badge badge-primary">1</span>
                </div>
                <div class="p-2">
                    <p>Organised Events</p>
                    <span class="badge badge-success">2</span>
                </div>
                <div class="p-2">
                    <p>Attending Events</p>
                    <span class="badge badge-info">1</span>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Step Up Open Mic Show</h5>
                    <!-- Add other event details here -->
                </div>
            </div>
        </div>
        <!-- Add other tab panes here if necessary -->
    </div>
</div>
{% endblock content %}